version: '3.8'
services:
  postgres:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: fun-quizz
      POSTGRES_PASSWORD: fun-quizz
      POSTGRES_DB: fun-quizz
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
